[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "==0.15.0"
fastapi-sqlalchemy = "*"
serializers = "*"

[dev-packages]

[requires]
python_version = "3.9"
